/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* - - - - - - - - - - - -
	Global styles
- - - - - - - - - */

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    color: #191c1f;
    font-family: "helvetica neue", helvetica, arial, verdana, sans-serif;;
}

/* - - - - - - - - - - - -
	Layout 
- - - - - - - - - */

header {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	padding: 2em 48px;
	background-color: #fff;
	border-bottom: 1px solid #B5B7B4;	
}

h1 { margin-bottom: 0.125em; }

/* nav {
	
}

#nav-list { 

} */

#nav-list li { 
	display: inline;
	margin-right: 16px;
}

/* #log-in { 

} */

#page-wrap {
	width: 928px;
	height: 100%;
	margin: 9.5em 48px 2em 48px;
	padding: 1em 0L;
	background-color: #fff;
}

.clear { clear: both; }

/* - - - - - - - - - - - -
	Typography
- - - - - - - - - */

h1 { 
    font-size: 4em;
    font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
}

#nav-list li {
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-size: 0.875em;
	text-transform: uppercase;
}

section p {
	color: #6C6F70;
	font-size: 0.75em; /* 12px */
	letter-spacing: 0.5px;
	line-height: 1.5em;
}

/* - - - - - - - - - - - -
	Link styles 
- - - - - - - - - */

h1 a {
	color: #191c1f;
	text-decoration: none;
}

#nav-list li a {
	color: #575A5D;
	text-decoration: none;
}

#nav-list li a:hover { color: red; }